body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 30px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.logo img {
    max-width: 70%;
    margin: auto;
    display: block; 

}

h1 {
    font-size: 28px;
    color: #333;
}

label {
    display: block;
    text-align: center;
    font-size: 16px;
    color: #555;
}

input {
    width: 100%;
    padding: 5px;
    margin-top: 17px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.choose-buttons {
    margin: 20px;
    text-align: center;
}

.choose-buttons button {
    padding: 8px 20px;
    background-color: #133b66;
    color: #fff;
    border-radius: 8px;
    font-size: 19px;
}

.choose-buttons button:hover {
    background-color: #0056b3;
}

.footer {
    text-align: center;
    padding: 20px;
}

.footer a {
    width: 10%;
    margin-top: 20px;
    text-decoration: none;
}