body {
    margin: 0;
    background-color: rgb(255, 255, 255);
}

.container {
    max-width: 100%;
    margin: 0 auto;
    /* background-color: rgba(255, 255, 255, 0.9); */
    padding: 0;
    min-height: 100vh;
    text-align: left;
    position: relative;
}

.banner {
    max-width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.banner_top img {
    max-width: 100%;
    height: auto;
}

.new-button {
    position: absolute;
    top: 50px;
    left: 160px;
    text-decoration: none;
    padding: 20px 30px;
    background-color: #ffffff;
    color: #8b8080;
    border-radius: 2px;
    font-size: 22px;
}

.btn_pesq {
    text-align: right;
    position: absolute;
    top: 130px;
    right: 22px;
}

.btn_pesq input[type="text"] {
    padding: 10px 40px;
    border: 1px solid #133b66;
    border-radius: 10px;
    font-size: 22px;
}

.btn_pesq a {
    text-decoration: none;
    padding: 12px 25px;
    background-color: #133b66;
    color: #fff;
    border-radius: 10px;
    font-size: 18px;
    margin-left: 10px;
}

.main_banner {
    margin-top: -150px;
}

.main_banner img {
    max-width: 100%;
    height: auto;
    margin-top: 0;
}

.logo {
    max-width: 100%;
    margin-top: -80px;
}

.solution {
    margin-top: 40px;
    font-size: 35px;
    font-family: "Times", sans-serif;
    color: #dd5415;
}

.solution img {
    max-width: 100%;
    height: auto;
    margin-top: 0px;
}

h2 {
    text-align: center;
}

.button {
    margin-top: 20px;
}

.header-buttons {
    text-align: right;
    position: absolute;
    top: 70px;
    right: 20px;
}

.header-buttons a {
    text-decoration: none;
    padding: 12px 25px;
    background-color: #133b66;
    color: #fff;
    border-radius: 10px;
    font-size: 19px;
    margin-left: 10px;
}


@media only screen and (max-width: 600px) {
    .banner {
        flex-direction: column; 
        align-items: flex-start; 
        padding: 0 10px; 
    }

    .new-button {
        position: static;
        margin-top: 20px; 
    }

    .btn_pesq {
        margin-top: 20px; 
        text-align: left; 
    }

    .btn_pesq input[type="text"] {
        width: 100%; 
    }

    .header-buttons {
        top: 20px;
    }
}