body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
    text-align: center;
}

.photo-frame {
    border: 5px solid #ddd;
    border-radius: 50%;
    overflow: hidden;
    width: 120px; 
    height: 120px; 
    margin: 0 auto 10px;
}

img {
    max-width: 100px;
    border-radius: 50%;
}

h1 {
    color: #333;
}

.profissional_info {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.column {
    flex: 1;
    margin-right: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

h2 {
    color: #333;
}

p {
    line-height: 1.5;
}


.agenda {
    display: flex;
    justify-content: space-between;
}

.dia-agendado {
    width: 80px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
}

.dia-agendado:hover {
    background-color: #f2f2f2;
}

