body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 28px;
    color: #333;
    margin-bottom: 20px;
}

label {
    display: block;
    font-size: 16px;
    color: #555;
    margin-top: 10px;
}

input {
    width: 100%;
    padding: 5px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #133b66;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.botao {
    text-align: center;
    margin-top: 20px;
}

.mensagem {
    margin-top: 20px;
    padding: 10px;
    color: #000000;
    text-align: center;
    border-radius: 5px;
    background-color: rgb(242, 250, 252);
}

.registra-se a {
    background-color: #133b66;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
    display: grid;
    justify-content: center;
    align-items: center;
}

a:hover {
    background-color: #0056b3;
}

.footer {
    text-align: center;
    padding: 20px;
}

.footer a { 
    margin-top: 20px;
    text-decoration: none;
}